@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variabls" as *;

.add-comment {
  display: flex;
  margin: 1rem;
  width: 90%;
  @include tablet {
    width: 100%;
  }
  &__icon {
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 50%;
    margin: 1rem;
    margin-top: 4rem;
    @include tablet {
      margin-top: 2rem;
    }
  }

  &__big-wrapper {
    width: 80%;
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
      width: 90%;
    }
  }

  &__wrapper {
    @include tablet {
      position: relative;
      bottom: 2rem;
    }
  }

  &__header {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: $primary-three;
    line-height: 1.8rem;
    font-weight: 400;
  }

  &__text {
    background-color: rgba($primary-three, 0.1);
    border-radius: 2%;
    width: 100%;
    @include tablet {
      height: 5rem;
      width: 150%;
    }

    &--invalid {
      border: solid 0.1rem #d22d2d;
    }
  }

  &__button {
    text-transform: uppercase;
    width: 100%;
    background: url(../../assets/icons/add_comment.svg) no-repeat 1rem 50%;
    background-color: $primary-two;
    color: $primary-four;
    margin: 1rem auto;
    height: 4rem;
    border-radius: 0.4rem;
    cursor: pointer;
    &:hover {
      background-color: $secondary-two;
    }
    @include tablet {
      min-width: 15rem;
      width: 30%;
      margin: 0;
    }
  }
}
