@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variabls" as *;

.home {
  &__wrapper {
    @include desktop {
      display: flex;
      width: 1020px;
      margin: 0 auto;
    }
  }

  &__vid-desc-wrapper {
    @include desktop {
      width: 100%;
    }
  }
}
