@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variabls" as *;

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__comment {
    display: flex;
    border-top: solid 0.1rem $secondary-three;
    border-bottom: solid 0.1rem $secondary-three;
    margin: auto;
    width: 100%;
    @include tablet {
      width: 90%;
    }
    @include desktop {
      width: 100%;
      padding: 1rem;
    }
  }

  &__icon {
    background-color: $secondary-three;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    margin: 1rem;
  }

  &__text {
    width: 80%;
    @include tablet {
      width: 100%;
    }
  }

  &__first-line {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.8rem;
    margin-bottom: 0;
    @include tablet {
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
  }

  &__date {
    color: $primary-three;
    font-size: 1.3rem;
    line-height: 1.8rem;
    @include tablet {
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
  }

  &__copy {
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-top: 0;
    @include tablet {
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
  }
}
