@use "../../styles/partials/variabls.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    width: 1020px;
    margin: 0 auto;
  }

  &__logo {
    height: 2.5rem;
    width: 12rem;
    margin: 1rem auto;
    @include tablet {
      margin: 1rem;
    }
  }

  &__row {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &__search-bar {
    background: url(../../assets/icons/search.svg) no-repeat 1rem 50%;
    padding-left: 4rem;
    background-color: rgba(225, 225, 225, 0.5);
    width: 90%;
    margin: 0 1rem;
    @include tablet {
      height: 4rem;
    }
  }

  &__search-icon {
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 50%;
    margin: 1rem;
    @include tablet {
      display: none;
    }

    &--2 {
      display: none;
      @include tablet {
        display: block;
        margin: 0 1rem;
      }
    }
  }

  &__upload-button {
    text-transform: uppercase;
    width: 90%;
    background: url(../../assets/icons/upload.svg) no-repeat 1rem 50%;
    background-color: $primary-two;
    color: $primary-four;
    margin: 1rem auto;
    height: 4rem;
    cursor: pointer;
    &:hover {
      background-color: $secondary-two;
    }
  }
}
