@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variabls" as *;

.video {
  &__wrapper {
    @include tablet {
      display: block;
      background-color: black;
    }
  }
  &__poster {
    display: flex;
    width: 100%;
    margin: auto;
    aspect-ratio: 16/9;
    background-color: black;
    @include tablet {
      width: 90%;
    }
    @include desktop {
      width: 1020px;
      margin: 0 auto;
    }
  }
}
